@charset "UTF-8";

/*
    Em HTML é id = em CSS é #
    Em HTML é class = em CSS é .
*/

body {
    background-color: rgb(228, 225, 255);
}
h1{
    color: rgb(0, 0, 255)
}

h1#principal{
   text-align: center;
   background-color: blue; 
   color: aliceblue;
}

h2{
    color: rgb(71, 71, 231);
}

h2.basico{
    color: green;
}

h2.intermediario{
    color: orangered;
}

h2.avancado{
    color: red;
}

.destaque {
    background-color: rgba(255, 217, 0, 0.444);
}